* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #3EDBF0;
    color: #04009A;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 100px;
}

p {
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 1.5rem;
}

.container {
    margin-top: 50px;
    height: 600px;
    text-align: center;
}

.button {
    cursor: pointer;
    color: #C0FEFC;
    border: none;
    background-color: #77ACF1;
    font-size: 2rem;
    border-radius: 5px;
    padding: 20px;
    margin: 50px 30px;
    width: 200px;
    height: 200px;
}

.result-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}